{{#each postagens}}
<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">{{titulo}}</h4>
        <p class="card-text">{{descricao}}</p>
        <a href="/postagem/{{_id}}"><button class="btn btn-success">Leia mais...</button></a>

        <hr>
        <small>Categoria: {{categoria.nome}}</small> <br>
        <p>{{postagem.conteudo}}</p>
        <small>Data de publicação: {{data}}</small>

    </div>
</div>
{{else}}
<h5>Nenhuma Postagem</h5>
{{/each}}