<div class="quiz-container">
    <h2>Quiz</h2>
    <form action="/quiz/responder" method="POST">
        {{#each perguntas}}
        <div class="question-block">
            <p>{{this.pergunta}}</p>
            {{#each this.opcoes}}
            <label>
                <input type="radio" name="q{{@../index}}" value="{{@index}}">
                {{this}}
            </label>
            {{/each}}
        </div>
        {{/each}}
        <button type="submit">Enviar</button>
    </form>
</div>

<h2>Lista de Quizzes</h2>
<ul>
    {{#each quizzes}}
    <li>
        {{this.pergunta}}
        <a href="/quiz/pergunta/{{@index}}">Responder</a>
    </li>
    {{/each}}
</ul>